# Developed in Jan 2026, author carlos.netto@gmail.com.
# Purpose: Validate the X9.150 specification.
# Not for production use; intended only to prove the spec.

flask
qrcode[pil]
python-jose
cryptography
requests
web3
jsonschema
PyYAML
flask-cors