# Developed in Jan 2026, author carlos.netto@gmail.com.
# Purpose: Validate the X9.150 specification.
# Not for production use; intended only to prove the spec.

flask
qrcode[pil]
python-jose
cryptography
requests
web3
jsonschema
flask-cors
openapi-schema-validator>=0.6.0
PyYAML>=6.0.1
rfc3339-validator>=0.1.4